@model ICollection<LiveCV.Models.WorkDetails>

<div id="timeline">
		<ul id="dates">			
			<li><a href="#1997">1997</a></li>			
            <li><a href="#2002">2002</a></li>
            <li><a href="#2008" class="selected">2008</a></li>
		</ul>
		<ul id="issues">			
			<li id="1997">
				<img src="~/content/timeline/Finance.png" width="128" height="128" />
				<h1>Finance</h1>
				<p>Real Time Charting FAME</p>
                <p>Repot Automation</p>
			</li>
            <li id="2002">
				<img src="~/content/timeline/Automation.png" width="128" height="128" />
				<h1>Automation</h1>
				<p>Influential in the adoption of standard building blocks to replace in-house counterparts, (WCF, Entity Framework).</p>
			</li>	
            <li id="2008" class="selected">
				<img src="~/content/timeline/1.png" width="128" height="128" />
				<h1>Data Managment</h1>
				<p>I’m a Consultant in the professional services department, a client-focused area of DataGenic that provides tailored solutions for individual clients  in all areas within, and surrounding, data Integration and business process management.</p>                
			</li>		
		</ul>
		
		@*<a href="#" id="next">+</a>
		<a href="#" id="prev">-</a>*@
	</div>